adafruit-ampy==1.1.0
bitarray==2.9.2
bitstring==4.2.3
cffi==1.16.0
click==8.1.7
cryptography==42.0.7
ecdsa==0.19.0
esptool==4.7.0
intelhex==2.3.0
machine==0.0.1
pycparser==2.22
pycrypto==2.6.1
pyserial==3.5
python-aiml==0.9.3
python-dotenv==1.0.1
pyyaml==6.0.1
reedsolo==1.7.0
setuptools==70.0.0
six==1.16.0
